body {
  margin: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  background-color: #fff;
}

.main-content {
  padding-top: 64px;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 96px;
  }
}

